[Desktop Entry]
Type=Application
Name=HakuNeko Desktop
GenericName=Manga Downloader
Exec=start
Icon=org.hakuneko.Hakuneko-desktop
Categories=Network;FileTransfer;
